{{ template "base" }}

{{ define "title" }}
<title>Главная страница</title>
{{ end }}

{{ define "content" }}
<p>Page 1</p>
{{ end }}

<!-- <!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Страница </title>
</head>
<body>
    {{$test := "Text"}} 
    <div>
        {{ range .Names }}
        <p>{{ . }} - {{$test}}</p>
        {{ end }}
    </div>
    {{$test := "New Text"}} 
    <div>
        {{ range .Users }}
        <p>{{ .ID }} - {{ .Name | ToUpper}} - {{$test}}</p>
        {{ end }}
    </div>
</body>
</html> -->